.form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding: 20px;
  border: 2px solid black;
  box-shadow: 1px 1px #acacac;
}
.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 500;
}
.input {
  margin-top: 10px;
  max-width: 250px;
  font-size: 18px;
  font-weight: 400;
}
.input:hover,
.input:focus {
  outline: none;
  cursor: pointer;
}
.btn {
  display: inline-block;
  content: '';
  padding: 3px 9px;
  max-width: 120px;
  border: 1px solid black;
  font-size: 16px;
  border-radius: 10px;
  font-weight: 500;
}
.btn:hover,
.btn:focus {
  border: 1px solid rgb(67, 120, 243);
  outline: none;
  background-color: rgb(67, 120, 243);
  cursor: pointer;
}
